@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background: #FFFFFF;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

div#carousel {
    text-align: center;
    margin-top: 80px;
}


div#carousel-title a {
    text-decoration: none;
}

div#carousel-title  {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

header ul {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ul {
	display: inline-block;
}

header {
    background: #FFFFFF;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

header div {
    display: inline;
    vertical-align: middle;
}

header nav {
    display: inline-block;
    vertical-align: middle;
    width: 80vw;
}

header nav a {
    color: #1351d8;
    font-size: 20px;
    text-decoration: none;
    font-weight: 900;
    margin-left: 14px;
    margin-right: 14px;
}

header nav a:hover {
    color: #1b357e;
    text-decoration: none;
    font-weight: 900;
}

nav li {
    display: inline;
    list-style: none;
}

main {
    min-height: calc(100% - 167px);
}

nav#social {
    display: inline;
    width: 80%;
}

nav#social ul img {
    width: 28px;
}

span.redesociais {
    color: #ffffff;
    vertical-align: super;
}

footer {
    background: #1B357E;
    padding: 20px;
}

footer div {
    display: inline;
    float: right;
    margin-right: 40px;
}

button:hover {
    background: #1b357e;
}
button {
    background: #1351d8;
    color: #fff;
    border: 0px;
    border-radius: 10px;
}
 
#carousel img{
    width: 900px;
    max-width: 95%;
    border-radius: 6px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 
#carousel-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#carousel-title a {
    text-decoration: none;
    color: #1351d8;
    font-size: 14px;
    font-weight: bold;
}

#carousel-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-carousel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    background: rgba(19,81,216,0.8);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;

    cursor: pointer;
    font-size: 20px;
}

.btn-carousel.left {
    left: 20px;

}
.login-card *{
    opacity: 1 !important;
    visibility: visible !important;
    color: white !important;
}

.login-card input{
    background: white !important;
    color: black !important;
}